<%= form_with(model:@article, local:true, url: choose_new_or_edit)do|form| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2 class="alert alert-danger"><%= @article.errors.count %>件のエラーがあります。</h2>
    <ul>
     <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
    </ul>
  </div>
  <% end %>
  <div class="article_title">
    <%= form.label :content %>
    <p><%= form.text_field :content %></p>
    <p><%= image_tag(@article.image.url) if @article.image && @article.image.url %></p>
    <p><%= form.file_field :image %></p>
    <p class="imput_btn"><%= form.submit %></p>
    <%= form.hidden_field :image_cache %>
  </div>
<% end %>
<%= link_to '記事一覧に戻る',articles_path, class: "btn btn-default return_top" %>
