<h1>記事一覧</h1>
<div>
  <% @articles.each do |article| %>
    <div>
      <p><%= image_tag article.image.url %></p>
      <label><%= article.content %></label>
      <p>投稿者：<%= article.user.name %></p>
      <div>
        <%= link_to '詳細', article_path(article.id)%>
        <% if logged_in? && current_user.id == article.user_id %>
          <%= link_to '編集', edit_article_path(article.id) %>
          <%= link_to '削除', article_path(article.id), method: :delete,data: {confirm: '本当に削除しますか？'} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<p><%= link_to '新規投稿', new_article_path,class:"btn btn-primary btn-lg" %></p>
