<h1>記事一覧</h1>
<p><%= notice %></p>
<div>
  <% @articles.each do |article| %>
    <div>
      <label><%= article.content %></label>
      <br>
      <div>
        <%= link_to '詳細', article_path(article.id)%>
        <%= link_to '編集', edit_article_path(article.id) %>
        <%= link_to '削除', article_path(article.id), method: :delete,data: {confirm: '本当に削除しますか？'} %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to '新規投稿', new_article_path,class:"btn btn-primary btn-lg" %>
